 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
 } 

    body{
        background-color: #5a5a5a;
      
        background-size: cover;
        text-align: center;
        
       
    }

    .img-logo{
        width: 300px;
        margin: 20px auto;
        display: block;
        
    }
    
main{
    background-color: white;
    width: 400px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 20px;
}

    
    h1{
        font-family: 'Oswald', sans-serif;
        font-weight: 700;
        color: #8a3d6c;
        margin-bottom: 20px;
    }

    label{
        font-size: 20px;
        color: #8a3d6c;
        font-weight: 500;
    }

    select, input{
        
        height: 48px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 5px;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 24px;
    }

    button{
        background-color: #8a3d6c;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        
    }

    button:hover{
        background-color: #732d57;
    }

  

    section{
        margin-top: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
    }

    .arrow{
      
        margin: 20px 0;
    }
    .currency-box{
        display: flex
       flex-direction: column;
       align-items: center;
       gap: 4px;
    }

.currency{
        color: #777777;
        font-size: 14px;
    }


    .currency-value, .currency-value-to-convert{
        font-weight: 700;
        font-size: 18px;
        color: #555555;
    }


   
    
